
.footer {
    background-color: whitesmoke;
    color: black;
    padding: 40px 0;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section h3 {
    color: #f4c10f;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.links2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-section ul {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: black;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: gold;
}

.links {
    display: flex;
    flex-direction: column;
}

.link {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
}

.link:hover {
    color: gold;
}

.social-links li {
    margin-bottom: 10px;
}

.social-links li a {
    display: flex;
    align-items: center;
}

.social-links li a i {
    margin-right: 10px;
}

.social-links li a:hover {
    color: #f4c10f;
}


.newsletter-form {
    display: flex;
    margin-top: 10px;
}

.newsletter-form input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 70%;
    font-size: 1rem;
}

.newsletter-form button {
    padding: 10px 20px;
    background-color: #f4c10f;
    border: none;
    color: #111;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s;
}

.newsletter-form button:hover {
    background-color: #fff;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
    color: black;
}


@media screen and (max-width: 1200px) {
    .footer-container {
        grid-template-columns: repeat(2, 1fr);
        margin:50px;
    }

    .newsletter-form input[type="email"] {
        width: 65%;
    }
}

@media screen and (max-width: 768px) {
    .footer-container {
        grid-template-columns: 1fr;
    }

    .newsletter-form {
        flex-direction: column;
    }

    .newsletter-form input[type="email"] {
        width: 100%;
        margin-bottom: 10px;
    }

    .newsletter-form button {
        width:150px;
        align-self: center;
        border-radius: 5px;
    }
}

@media screen and (max-width: 480px) {
    .footer-section h3 {
        font-size: 1rem;
    }

    .footer-section ul li a {
        font-size: 0.9rem;
    }

    .footer-bottom p {
        font-size: 0.8rem;
    }
}
