
.products-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 60px;
    padding: 20px;
    cursor:pointer;
}

.product-card {
    border: 1px solid #e0e0e0;

    padding: 15px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition:transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
}

.product-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
    color: #333;
}

.product-card p {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.product-card .price {
    font-weight: bold;
    color: #2ecc71;
}

.no-products {
    text-align: center;
    color: #999;
    font-size: 1.2em;
    margin-top: 20px;
}

.title_product{
    text-align: center;
    border-bottom: 3px solid darkviolet;
    padding-bottom: 15px;
    padding-top: 15px;
}
.product-icon{
    display: flex;
    gap:5px;
    font-size:20px;
    padding:10px;
}
.ti-plus, .ti-heart {
    cursor: pointer;
    transition: transform 0.1s;
}

.ti-plus:hover, .ti-heart:hover {
    color: #2ecc71;
}

.ti-plus:active, .ti-heart:active {
    transform: scale(0.9);
}

